<connectionStrings>
  <add name="DefaultConnection"
    connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=aspnet-WSWebsite-c565a36a-b8bd-4d68-9f00-e0093e689c49;AttachDbFilename=|DataDirectory|\aspnet-WSWebsite-c565a36a-b8bd-4d68-9f00-e0093e689c49.mdf;Integrated Security=SSPI"
    providerName="System.Data.SqlClient"/>
</connectionStrings>